<div class="first_view">
    <div class="first_view_container">
        <h2 class="first_view_title">Potepan Shareで<br>
            まだ体験したことのない<br>
            旅をしよう
        </h2>
        <div class="first_view_search">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<div class="first_view_main">
    <h2>おすすめのエリア</h2>
    <div class="first_view_card">
        <div class="card tokyo_card" style="width: 18rem;">
            <img class="card-img-top">
            <div class="card-body">
                <a href="/rooms"><p class="card-text">東京</p></a>
            </div>
        </div>
        <div class="card osaka_card" style="width: 18rem;">
            <img class="card-img-top">
            <div class="card-body">
                <p class="card-text">大阪</p>
            </div>
        </div>
        <div class="card kyoto_card" style="width: 18rem;">
            <img class="card-img-top">
            <div class="card-body">
                <p class="card-text">京都</p>
            </div>
        </div>
        <div class="card sapporo_card" style="width: 18rem;">
            <img class="card-img-top">
            <div class="card-body">
                <p class="card-text">札幌</p>
            </div>
        </div>
    </div>
</div>   



