
<div class="room_index_container">
  <div class="room_index_top">
    <h1>ここに検索エンジン置くよ</h1>
  </div>
  <div class="room_index_main">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @rooms.each do |r| %>
        <div class="col">
          <div class="card">
            <img src=<%= r.image %>>
            <div class="card-body">
              <a href="/", class="card-title"><%= r.name %></h5></a>
              <p><%= r.address %></p>
              <p class="card-text"><% r.detail %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>